body {
    font: 20px "Roboto", sans-serif;
    background-color: #374046;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #272727;
}

.flex {
    display: flex;
}

h1 {
    color: #ffffff;
    padding: 7px;
}

form {
    width: 100%;
    padding: 5px;
}

#messages {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #ffffff;
    overflow-x: auto;
    overflow-y: scroll;
}

#messages-div {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #253237;
    overflow-y: hidden;
}

#messages li {
    padding: 5px 10px;
}

#users-div {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow-y: hidden;
}

#users {
    overflow: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    width: 100%;
}

#users li {
    padding: 5px 10px;
}

#message-container {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    height: 100vh;
    width: 80vw;
}

#user-container {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    height: 100vh;
    width: 20vw;
    background-color: #1b263b;
}

@media screen and (max-width: 600px) {
    #row {
        float: none;
        display: block;
        width: 100%;
    }

    #message-container {
        width: 100%;
    }

    #user-container {
        width: 100%;
    }

    #users-div {
        justify-content: flex-start;
    }
}
