* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  height: 100vh;
}

form {
  bottom: 1vh;
  width: 100%;
}

.full-height {
  height: 100vh;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px red solid;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#messages {
  margin-bottom: 40px;
}

#users {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px red solid;
}

#users li {
  padding: 5px 10px;
}

#users li:nth-child(odd) {
  background: #eee;
}

@media screen and (max-width: 600px) {
  #row {
    float: none;
    display: block;
    width: 100%;
  }
}
